{{!-- NavBar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="./userv">Home <span
                    class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="./userp">Profile</a>
            <a class="nav-item nav-link" href="#">Contact Us</a>
        </div>
    </div>
</nav> 
{{!-- Navbar Ends --}}
<form novalidate>
    <div class="card">
        <div class="card-body">
            <div>
                <fieldset disabled>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last name">
                        </div>
                        <div class="row">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                </fieldset>
                <div class="row">
                    <input type="text" class="form-control" id="userName" placeholder="User Name" required>
                    <div class="invalid-feedback">
                        Please provide a valid address.
                    </div>
                </div>
                <div class="imageFile">
                    <input type="file" class="imageFile" id="imageFile" required>
                    <label class="imageFileLabel" for="imageFile">Choose file...</label>
                </div>
                <div class="row">
                    <input type="address" class="form-control" id="userAddress" placeholder="Address" required>
                    <div class="invalid-feedback">
                        Please provide a valid address.
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="tel" class="form-control" id="userPhoneNum" placeholder="Phone Number" required>
                        <div class="invalid-feedback">
                            Please provide a valid phone number.
                        </div>
                    </div>
                    <div class="col">
                        <input type="city" class="form-control" id="userCity" placeholder="City" required>
                        <div class="invalid-feedback">
                            Please provide a valid city.
                        </div>
                    </div>
                </div>
                <div class="col">
                    <input type="state" class="form-control" id="userState" placeholder="State" required>
                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>
                </div>
                <div class="col">
                    <input type="zip" class="form-control" id="userZip" placeholder="Zip Code" required>
                    <div class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
                <div class="form-check form-check-inline">
                    <form id="userGender">
                        <input type="radio" name="gender" value="male" checked> Male<br>
                        <input type="radio" name="gender" value="female"> Female<br>
                        <input type="radio" name="gender" value="other"> Other
                    </form>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                    <div class="col-sm-9">
                        <input type="date" id="birthDate" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="agreement" type="checkbox" value="" id="agreement" required>
                        <label class="agreement" for="agreement">
                            Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success" id="userSubmit">Submit</button>
            </div>
        </div>
    </div>
</form>