{{> vendorNavbar/vendorNavbar}}
<div class="container">
    <form novalidate>
        <div class="card">
            <div class="card-body">
                <div>
                    <div disabled>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="First name">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Last name">
                            </div>
                            <div class="col-md-4">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </fieldset>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="truckName" class="form-control" placeholder="Food Truck Name" required>
                            <div class="invalid-feedback">
                                Please provide your Food Truck's name.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="phoneNumber" class="form-control" placeholder="123-456-7890" required>
                            <div class="invalid-feedback">
                                Please provide a valid phone number.
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-header text-center">
                            <p>Choose what food category(ies) you serve. (3 max)</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="american" value="american">
                                        <label class="american-label" for="american">American</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="brazilian"
                                            value="brazilian">
                                        <label class="brazilian-label" for="brazilian">Brazilian</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="filipino" value="filipino">
                                        <label class="filipino-label" for="filipino">Filipino</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="french" value="french">
                                        <label class="french-label" for="french">French</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="german" value="german">
                                        <label class="form-check-label" for="german">German</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="hawaiian" value="hawaiian">
                                        <label class="hawaiian-label" for="hawaiian">Hawaiian</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="indian" value="indian">
                                        <label class="indian-label" for="indian">Indian</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="italian" value="italian">
                                        <label class="italian-label" for="italian">Italian</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="japanese" value="japanese">
                                        <label class="japanese-label" for="japanese">Japanese</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="korean" value="korean">
                                        <label class="korean-label" for="korean">Korean</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="lebanese" value="lebanese">
                                        <label class="lebanese-label" for="lebanese">Lebanese</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="mexican" value="mexican">
                                        <label class="mexican-label" for="mexican">Mexican</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="spanish" value="spanish">
                                        <label class="spanish-label" for="spanish">Spanish</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="thai" value="thai">
                                        <label class="thai-label" for="thai">Thai</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="vietnamese"
                                            value="vietnamese">
                                        <label class="vietnamese-label" for="vietnamese">Vietnamese</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-header text-center">
                            <p>Profile Image</p>
                        </div>
                        <div class="card-body">
                            <div class="imageFile">
                                <input type="file" class="imageFile" id="imageFile" required>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="address" class="form-control" placeholder="Address" required>
                            <div class="invalid-feedback">
                                Please provide a valid address.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="city" class="form-control" placeholder="City" required>
                            <div class="invalid-feedback">
                                Please provide a valid city.
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="state" class="form-control" placeholder="State" required>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <input type="zip" class="form-control" placeholder="Zip Code" required>
                            <div class="invalid-feedback">
                                Please provide a valid zip.
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="male" type="required" id="customer" value="customer" required>
                                        <label class="male" for="male">Male</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="female" type="radio" id="female" value="female" required>
                                        <label class="female" for="female">Female</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="other" type="radio" id="other" value="other" required>
                                        <label class="other" for="other">Prefer not to Answer</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-header text-center">
                            <p>Date of Birth</p>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <input type="date" id="birthDate" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="form-check">
                        <input class="agreement" type="checkbox" value="" id="agreement" required>
                        <label class="agreement" for="agreement">
                            Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>
<br>
{{> footer/footer}}