<form novalidate>
    <div class="card">
        <div class="card-body">
            <div>
                <fieldset disabled>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last name">
                        </div>
                        <div class="row">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                </fieldset>
                <div class="row">
                    <input type="truckName" class="form-control" placeholder="Food Truck Name" required>
                    <div class="invalid-feedback">
                        Please provide your Food Truck's name.
                    </div>
                </div>
                <div class="row">
                    <input type="phoneNumber" class="form-control" placeholder="123-456-7890" required>
                    <div class="invalid-feedback">
                        Please provide a valid phone number.
                    </div>
                </div>
                <p>Choose what food category(ies) you serve. (3 max)</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="american" value="american">
                    <label class="american-label" for="american">American</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="brazilian" value="brazilian">
                    <label class="brazilian-label" for="brazilian">Brazilian</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="filipino" value="filipino">
                    <label class="filipino-label" for="filipino">Filipino</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="french" value="french">
                    <label class="french-label" for="french">French</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="german" value="german">
                    <label class="form-check-label" for="german">German</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="hawaiian" value="hawaiian">
                    <label class="hawaiian-label" for="hawaiian">Hawaiian</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="indian" value="indian">
                    <label class="indian-label" for="indian">Indian</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="italian" value="italian">
                    <label class="italian-label" for="italian">Italian</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="japanese" value="japanese">
                    <label class="japanese-label" for="japanese">Japanese</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="korean" value="korean">
                    <label class="korean-label" for="korean">Korean</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="lebanese" value="lebanese">
                    <label class="lebanese-label" for="lebanese">Lebanese</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="mexican" value="mexican">
                    <label class="mexican-label" for="mexican">Mexican</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="spanish" value="spanish">
                    <label class="spanish-label" for="spanish">Spanish</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="thai" value="thai">
                    <label class="thai-label" for="thai">Thai</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="vietnamese" value="vietnamese">
                    <label class="vietnamese-label" for="vietnamese">Vietnamese</label>
                </div>
                <br>
                <div class="imageFile">
                    <input type="file" class="imageFile" id="imageFile" required>
                    <label class="imageFileLabel" for="imageFile">Profile image...</label>
                </div>
                <br>
                <div class="row">
                    <input type="address" class="form-control" placeholder="Address" required>
                    <div class="invalid-feedback">
                        Please provide a valid address.
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <input type="city" class="form-control" placeholder="City" required>
                        <div class="invalid-feedback">
                            Please provide a valid city.
                        </div>
                    </div>
                </div>
                <br>
                <div class="col">
                    <input type="state" class="form-control" placeholder="State" required>
                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>
                </div>
                <br>
                <div class="col">
                    <input type="zip" class="form-control" placeholder="Zip Code" required>
                    <div class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
                <br>
                <div class="form-check form-check-inline">
                    <input class="male" type="checkbox" id="customer" value="customer" required>
                    <label class="male" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="female" type="checkbox" id="female" value="female" required>
                    <label class="female" for="female">Female</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="other" type="checkbox" id="other" value="other" required>
                    <label class="other" for="other">Prefer not to Answer</label>
                </div>
                <br>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                    <div class="col-sm-9">
                        <input type="date" id="birthDate" class="form-control">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="form-check">
                        <input class="agreement" type="checkbox" value="" id="agreement" required>
                        <label class="agreement" for="agreement">
                            Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</form>