{{!-- NavBar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="./vendorv">Home <span
                    class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="./vendorp">Profile</a>
            <a class="nav-item nav-link" href="./vendorc">Contact Us</a>
        </div>
    </div>
</nav> 
<br>
{{!-- Navbar Ends --}}