/* I set these all as body to use hex codes but added notes for main and accent colors */

/* main color */
body {
    background-color: #c9e3db;
}

/* accent color */
body {
    background-color: #fec925;

}

/* accent color */
body {
    background-color: #5ab190;
}