<div class="card-left" class="col-sm-6">
<div class="card">
    <div class="card-body">
        <div class="form-group">
            <div class="col">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="First name">
                </div>
            </div>
            <div class="col">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
            <div class="col">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="col">
                <div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
            </div>
                <div class="form-check form-check-inline">
                    <input class="customer-check" type="checkbox" id="customer" value="customer">
                    <label class="customer-check" for="customer">Eater</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="vendor-check" type="checkbox" id="vendor" value="vendor">
                    <label class="vendor-check" for="vendor">Food Truck</label>
                </div>
                <button type="button" class="btn btn-success">Sign Up</button>
            </div>
        </div>
    </div>
</div>
    </form>