<div class="card-left" class="col-sm-6">
<div class="card">
    <div class="card-body">
        <div>
            <div class="col col-md-6">
                <div>
                    <input type="text" id="userFirstName" placeholder="First name">
                </div>
                <div>
                    <input type="text" id="userLastName" placeholder="Last name">
                </div>
            </div>
            <div class="col-md-6">
                <input type="text" id="userEmail" placeholder="Email">
            </div>
            <div class="col-md-6">
                <input type="password" id="password" placeholder="Password">
            </div>
            <div class="col-md-6">
            <div class="form-check form-check-inline">
                <form id="userType">
                    <input type="radio" name="type" value="eater"> Eater
                    <input type="radio" name="type" value="truckVendor"> Truck Vendor
                </form>
            </div>
            <div class="col-md-">
            </div>
            <button type="button" class="btn btn-success" id="signUpSubmit">Sign Up</button>
            </div>
        </div>
    </div>
</div>
    </form>